<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header id='painel'>
        <nav id='menus'>
            <a href="./index.html">Home</a>
            <a href="https://github.com/arthurcommodore" target="blank">
                    <img src="../../img/Github-Free-PNG-Image.png" alt="" height="35" width="35">
            </a>
        </nav>
    </header>
    <div id="about">
        <h1>Who Am I ?</h1>
        <h2>
            Servidores, smartphones, tablets e outros tipos de dispositivos, incluindo caixas bancários.  
            Ao contrário de seus concorrentes mais famosos, o Linux não foi desenvolvido para fins comerciais e 
            seu software e desenvolvimento são feitos em código aberto, o que significa que qualquer pessoa pode 
            criar e distribuir aplicativos para ele.

            A parte básica do Linux é composta de um kernel, software criado para fazer a comunicação de outros programas e
            traduzi-los em comandos para a unidade de processamento e outros componentes eletrônicos. Para funcionar, porém, 
            também é necessário aplicativos e bibliotecas específicas para eles.
        </h2>
    </div> 
    <div id='fundo'>
        
        <div id="me">
            <img src="../../img/me.png" alt="" width="250" height="250">
        </div>
    </div>

</body>
</html>
